.container {
  padding: 20px;

  header {
    h1 {
      margin: 0;
      animation-name: CC;
      animation-duration: 7000ms;
      animation-iteration-count: infinite;
    }
  }

  main {
    p {
      margin-top: 5px;
    }
  }

  footer {
    margin-top: 10px;
  }
}

