.Container {
  display: grid;
  height: 100vh;
  margin: 0 auto;
  max-width: 60em;
  padding: 24px;
}

.Header {
  text-align: center;

  & h1 {
    margin-bottom: 0;
  }
}

.Content {
  margin-top: 56px;
  display: grid;
  justify-content: center;
}
