<!DOCTYPE html>
<html lang="en">

<head>
  <title>
      <%= htmlWebpackPlugin.options.title %>w4kit
  </title>

  <!-- Metadata -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <!-- Apple -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/assets/images/touch-icon.png">

  <!-- Android -->
  <link rel="manifest" href="/manifest.json">

  <!-- Polyfill -->
  <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.0/webcomponents-bundle.js"></script>

  <!-- etc -->
  <script async defer src='https://api.mapbox.com/mapbox-assembly/v0.23.1/assembly.js'></script>
  <script><link href='https://api.mapbox.com/mapbox-assembly/v0.23.1/assembly.min.css' rel='stylesheet'></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"></script>
  <script src="scripts/lib/fontsawesome/e2338abaf7.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <!-- Load Leaflet from CDN-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"></html></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet-src.js"></script>
  <!-- Load Esri Leaflet from CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.2.3/esri-leaflet-debug.js"></script>
  <!-- Esri Leaflet Geocoder -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet-geocoder/2.2.13/esri-leaflet-geocoder.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet-geocoder/2.2.13/esri-leaflet-geocoder-debug.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.2.3/esri-leaflet.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.js"></script>
  <script src="src/scripts/overview.js"></script>
</head>

<body>
  <my-app></my-app>
</body>

</html>
