<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= htmlWebpackPlugin.options.title %>w4kit
    </title>

    <!-- Metadata -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
    />

    <!-- Apple -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" href="/assets/images/touch-icon.png" />

    <!-- Android -->
    <link rel="manifest" href="/manifest.json" />

    <!-- Polyfill -->
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.4.3/webcomponents-bundle.js"></script>
  </head>

  <body>
    <my-app></my-app>
  </body>
</html>
