@import './assets/styles/_animations.pcss';

:root {
  --black: #333;
  --grey: #d6d6d688;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--black, #333);
}
